@import url("https://db.onlinewebfonts.com/c/1467e2d37ec60cc50117a8db7c24f626?family=DS-Digital";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

.MMM-KitchenTimer {
  padding-top: 150px;
}

.MMM-KitchenTimer .timer {
  color: #fff;
  width: 450px;
  font-family: DS-Digital;
  position: relative;
  height: 200px;
  box-shadow: 0px 0px 2px #fff;
  margin: 50px auto;
  border-radius: 75px;
  background-color: #222;
  border: 25px inset #444;
  padding: 0;
  overflow: hidden;
  align-items: center;
}


#more {
  color: green;
}

#less {
  color: red;
}

#more:hover {
  color: darkgreen;
}

#less:hover {
  color: maroon;
}

#more:active {
  color: lightgreen;
}

#less:active {
  color: coral;
}

.MMM-KitchenTimer .bt1 {
  height: 10px;
  width: 30px;
  font-size: 10px;
  text-align: left;
  background-color: transparent;
  border: none;
  vertical-align: center;
  display: inline-block;
}

.MMM-KitchenTimer .bt2 {
  height: 35px;
  width: 60px;
  font-size: 30px;
  text-align: center;
  align-content: center;
  background-color: darkcyan;
  top: 50px;
}

.MMM-KitchenTimer .bt2:hover {
  height: 40px;
  width: 80px;
  font-size: 10px;
  background-color: cyan;
}

.MMM-KitchenTimer .bt2:active {
  height: 40px;
  width: 80px;
  font-size: 10px;
}

.MMM-KitchenTimer .text-primary {
  color: #fff;
  font-size: 50px;
  font-weight: normal;
  font-family: Orbitron;
}

#display {
  color: #fff;
  font-size: 60px;
  font-weight: normal;
  font-family: Orbitron;
  z-index: 1;
}
